
html {
    background-color: #1e1e1e;
    color: #888788;
    font-family: sans-serif;
}

body {


}

#container {
    width: 500px;
    height: 500px;
}

#plot {
    width: 100%;
    height: 100%;
}