
html {
    background-color: #1e1e1e;
    color: #888788;
    font-family: sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

#container {
  position: absolute;
  top: 0px; right: 0px;
  bottom: 0px; left: 0px;
}

#plot {
}